CoreVisesWebSite/Service References/PhoneServiceReference/PhoneService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone" nillable="true" type="tns:Phone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhone" nillable="true" type="tns:ArrayOfPhone" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="tns:Brand" />
      <xs:element minOccurs="0" name="ExternalMemory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flash" type="xs:int" />
      <xs:element minOccurs="0" name="IdPhone" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalMemory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetworkMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pixels" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdBrand" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
</xs:schema>