CoreVisesWebSite/Service References/PhoneServiceReference/PhoneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://25.45.62.52/Services/PhoneService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://25.45.62.52/Services/PhoneService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://25.45.62.52/Services/PhoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneService_insertPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:insertPhone" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_insertPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_getPhones_InputMessage">
    <wsdl:part name="parameters" element="tns:getPhones" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_getPhones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_getPhoneById_InputMessage">
    <wsdl:part name="parameters" element="tns:getPhoneById" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_getPhoneById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPhoneByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhoneService">
    <wsdl:operation name="insertPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneService/insertPhone" message="tns:IPhoneService_insertPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneService/insertPhoneResponse" message="tns:IPhoneService_insertPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPhones">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneService/getPhones" message="tns:IPhoneService_getPhones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneService/getPhonesResponse" message="tns:IPhoneService_getPhones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPhoneById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneService/getPhoneById" message="tns:IPhoneService_getPhoneById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneService/getPhoneByIdResponse" message="tns:IPhoneService_getPhoneById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneService" type="tns:IPhoneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertPhone">
      <soap:operation soapAction="http://tempuri.org/IPhoneService/insertPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhones">
      <soap:operation soapAction="http://tempuri.org/IPhoneService/getPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhoneById">
      <soap:operation soapAction="http://tempuri.org/IPhoneService/getPhoneById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneService">
    <wsdl:port name="BasicHttpBinding_IPhoneService" binding="tns:BasicHttpBinding_IPhoneService">
      <soap:address location="http://25.45.62.52/Services/PhoneService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>