CoreVisesWebSite/Service References/PhoneServiceReference/PhoneService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getPhones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPhonesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhoneById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhoneByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPhoneByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>