CoreVisesWebSite/Service References/ClientServiceReference/ClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyExistsClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyExistsClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyExistsClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>